@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

/* ล้างค่า Link เดิม ไม่ให้เป็นสีม่วง */
a {
  color: inherit;
  text-decoration: none;
}